/* src/Components/Calculator.css */

.Calculator {
  width: 300px;
  margin: auto;
  padding: 20px;
 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.Calculator h1 {
  text-align: center;
  margin-bottom: 20px;
}

.student-info, .semester-input {
  margin-bottom: 10px;
}

.student-info input, .semester-input input {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2, h3 {
  text-align: center;
  margin-top: 20px;
}

.student-summary {
  margin-top: 20px;
}
